/* preloader */
/*----- 2. preloader -----*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3806bd;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.cryptonian-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}

.sk-folding-cube {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-left: -20px;
    margin-top: -20px;
}
/* end-preloader */

.header-area {
	color: #fff;
	background: #130f40;
	padding: 200px 0;
}
.header-area img {
	width: 250px;
	height: auto;
}
.header-btn {
	margin-top: 50px;
}
.custom-btn {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
	background: transparent;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 5px;
	transition: .3s;
	border: 2px solid #22a6b3;
	font-weight: bold;
	font-size: 14px;
}
.custom-btn:hover {
	color: #fff;
	background: #22a6b3;
	border: 2px solid transparent;
}
.custom-btn:focus {
	color: #fff;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}

.demo-area {
	color: #2f3542;
	padding: 72px 0;
	background-image: url("assets/images/pattern.png")
}
.demo-area h2 {
	color: #130f40;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.all-demo {
	margin-top: 48px;
}
.single-demo img {
	width: 100%;
	height: 300px;
}
.demo-image {
	position: relative;
	overflow: hidden;
}
.hover-state {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(34,166,179,.6);
	transition: .5s;
	opacity: 0;
	visibility: hidden;
}
.demo-image:hover .hover-state {
	opacity: 1;
	visibility: visible;
}
.hover-state .custom-btn {
	color: #fff;
	border: 2px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
}
.hover-state .custom-btn:hover {
	color: #3b4b73;
	background: #ffdb13;
	border: 2px solid transparent;
}
.single-demo h3 {
	color: #130f40;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: 30px;
}

.footer-area {
	color: #fff;
	background: #130f40;
	padding: 50px 0;
	font-size: 16px;
}
.footer-area a {
	color: #ffdb13;
}








